


.story_title{

    background:black;
    text-align: center;
    color: white;
    padding:20px;
    margin: 0;
}
.first{
    background: black;
    color: white;
    

    div{

        
        align-items: center;
        display: flex;
        flex-direction: column;
    }


    align-items: center;
    padding:3% 15%;

    h1{
        margin: 10px 0;
        text-align: center;
    }

    .about_description{

        padding: 3% 5% 10%;
        font-size: 1.2rem;
        letter-spacing: 3px;
        line-height: 1.8;
    }
    .about_1{
        width: 300px;
        margin: 20px 0;
        
    }
}


.first:nth-child(odd){
    flex-direction: row-reverse;
}




@media (max-width:900px){

    .first_picture{
        img{
            
            height: 300px;
            object-fit: cover;
            object-position: top;
        }
    }

    
    .first {
            .about_description {
    
    
                font-size: 1rem;
                letter-spacing: 2px;
            }
        }
    

    


}


