
.second {


    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, .7)),url("@/assets/img/history_background.jpg");
    background-size: 100%;
    
    color:white;
    padding: 0 !important;
    margin: 0 !important;
    h1{
        margin: 70px 0;
    }

    .history {

        align-items: center;
        flex-direction: column;
        display: flex;

    }

    .branch {


        display: flex;
        flex-direction: column;
        align-items: end;

        img {

            width: 60%;
            filter: brightness(0.5);
        }
    }
}




.history_text{
    position: relative;
    margin-top: 50px;
    font-size: 1.2rem;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    
}

.history_group:nth-child(odd) {
    margin-left: 55%;
}

.history_group{
    width: 100%;
    margin-bottom: 70px;
    
}



.history_time:nth-child(odd){
    color:#bb6805;
    font-weight: bold;
}

.history_time{
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-bottom: 40px;
}



.history_pic{

    img {
    
            width: 400px ;
            display: block;
            left: 270px;
            border: solid black 5px;
        }
}

.arrow{
    height: 100px;
    width: 3px;
    margin-top: -1px;
    position: absolute;
    background-color: white;
    animation: arrow 5s;
    animation-fill-mode: forwards;
    margin-top: 170px;
    

}



@keyframes arrow{
    from{
        height: 100px;;
    }
    to{
        height: 2350px;
    }
}

.home_title{
    margin-top: 200px;
    text-align: center;
    font-size: 2rem;
}

.branch_block{
    display: flex;
    padding:3% 5%;
    justify-content: center;
    align-items: center;
    border: rgb(104 143 189 / 32%)15px solid;
    margin:5% 7%;
    flex-wrap: wrap;



    iframe{
        width: 400px;
        height: 300px;
    }
}


@media (max-width:900px){


    .second{

        flex-direction: column-reverse;
        .branch{
            
            margin:0; 
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;    
            justify-content:center;
            display: flex;
            img{
                width: calc(100% / 3);
            }
        }


        .history {

    
            img {
                width: 300px;
            }
        }
    
    }


    .history_group {
        margin-left: 10% !important;
    }


    .second .history {
        align-items: flex-start;
       
        padding-left: 50px;
    }


    .history_text{
        
        font-size: 1rem;
        
    }

    .history_time {
        margin-bottom: 30px;
    }

    
    .history_group{
               
        margin-bottom: 90px;
    }

    @keyframes arrow{
        from{
            height: 100px;;
        }
        to{
            height: 2000px;
        }
    }
    
    


}





