

*{
  font-family: Arial,DFKai-sb;
}


.home_title{
  
    
  margin:20px 0 100px;
  font-weight: bold;
  font-size: 2rem;
  color: black;

}
.first_picture{
    background : linear-gradient(
    to bottom ,
    black  0%,
    black  80%,
    white  80%,
    white   100%
    
  );

  
    height:100vh;
    text-align: center;
    padding-top:7rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
    img{
        
        width: 700px;
        
    }

    .first_naming{
      
      display: flex;
      align-items: flex-end;
    }
    

    p{
      color: white;
      
      font-weight: bold;
      margin: 0 10px;
      letter-spacing: 5px;
    }


    .font_1{
      opacity: 0;
      animation-fill-mode: forwards;
      font-size: 5rem;
      writing-mode: vertical-lr;
      margin-top:-30px
    }
    .font_2{
      opacity: 0;
      animation-fill-mode: forwards;
      font-size: 3.5rem;
      writing-mode: vertical-lr;
    }

    .font_2::after{
      
      content: 'XIAO SUAN TOU';
      display: block;
      font-size: 1.2rem;
      color: saddlebrown;
      letter-spacing: 2px;
    }
    .font_3{
      opacity: 0;
      animation-fill-mode: forwards;
      font-size: 2.5rem;
      color: #0099d1;
      text-align: left;
      
    }

    .font_3::after{
      content: 'Taiwanese Fried Chicken';
      display: block;
      font-size: 1.2rem;
      color: saddlebrown;
      text-align: left;
      letter-spacing: 2px;
    }
}

.home_foods{
    position: relative;
  
    
    text-align: center;
    
    
}

.swiper {
  margin: 20px 0;
  width: 100%;
  background: #f1e0cd;
  padding: 20px;
  img{
    width: 60%;
    max-width: 200px;
    min-width: 150px;
  }
}




.Selected-food{
    

  
  justify-content: space-evenly;
  text-align: center;
  

  *{
      font-weight: bold;
      
  }
  img{

      width: 40vw;
      max-width: 400px;
      min-width: 250px;
  }

  div{
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      
  }
  

  .Selected_food_title{
      
      font-size: 1.7rem;
      border-top: solid white;
      border-bottom: solid white;
      width: 50px;
      
      
      padding: 3% 0;
      
  }

  
  .Selected_food_description{
  
      
      letter-spacing: 2px;
      margin: 0 5%;
      font-size: 1.1rem;
      width: 100%;
      font-weight: 200;
      
  }

  

  .Selected-food-gorup{

      background: rgb(179 178 177 / 78%);
      margin: 5% 5%;
      
  }


}





.Selected-food div {
        
  flex-wrap: wrap;

  

}
.Selected-food-gorup{
  div{
      margin:30px 0;
  }
}

.Selected-food {

  .Selected_food_title {
      font-size: 1.4rem;
      border-left: solid white;
      border-right: solid white;
      border-top: unset;
      border-bottom: unset;
      width: unset;
      padding: 0 3%;
  }


}






.Selected_food_picture {
  background-color: white;
  width: 100%;

}

.Selected-food .Selected-food-gorup {
 
  width: 300px;
  background: rgb(237 215 191 / 78%);
    margin: 5% 5%;
    border: #93521d8f solid 3px;

}



.introducions{
  padding: 5%;
  
  h1{
    text-align: center;
    margin-bottom: 70px;
  }
  
  h4{
    font-weight: bold;
  }
  img{
    margin-right: 5%;
    width: 100%;
  }
}


.home_about_link{

  text-align: right;
}


.home_about{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  text-align: center;
  margin-bottom: 70px;
  padding:0 50px;
  div{
    margin-bottom: 30px;
  }
  
  h1{
    width: 100%;
    font-weight: bold;
    
  }

  h3{
    font-weight: bold;
    margin:20px;
    margin-top: 30px;
  }


  p{
    
    font-size: 1.2rem;
  }
  img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 100%;
    filter: brightness(0.7);
    object-position: top;
  }


  .about_3{
    img{
      object-position: bottom;
      filter: brightness(1);
    }
  }





}




.story_change {
  background-image: url(/src/assets/img/Menu_picture1.jpg);
  background-repeat: no-repeat;
  background-position: 100px;
  background-size: 100% 100%;
  background-attachment: fixed;
  
  width: 100%;
  overflow: hidden;
  padding: 1% 2%;
  height: 300px;
  border-bottom: white 2rem solid;
  border-top: white 2rem solid;
  border-left: white 10rem solid;
  border-right: white 10rem solid;
  
 
}

.more_store{
  width: 100%;
  margin:50px 0;
  button{
    background: white;
    color: #878585;
    font-size: 1.3rem;
    border:solid 2px #878585;
    padding: 2px 10px;
  }


  button:hover{
    background: rgb(116 125 121 / 66%);
    color:white;
    border:solid 2px white;
  }
}

@media (max-width: 1200px) {

  .first_picture {
      img {
  
        width: 500px;
  
      }

    
    .font_3{
      font-size: 1.5rem;
      
      
      
    }
  
    .font_3::after{
      content: 'Taiwanese Fried Chicken';
     
      font-size: 1rem;
      
    }

      
    }
}


@media (max-width: 900px) {
  
.first_picture{
  

  height: 100vh;
  text-align: center;
  padding-top:7rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  padding: 50px;

  img{
      
      width: 80vw;
      
  }

  .first_naming{
    
    display: block;
    
  }
  

  p{
   
    letter-spacing: 3px;
  }


  .font_1{
    font-size: 3rem;
    writing-mode:lr;
    margin-top:-30px
  }
  .font_2{
    font-size: 2rem;
    writing-mode: lr;
  }

  .font_2::after{
    content: 'XIAO SUAN TOU';
    
    font-size: 1rem;
   
  }
  .font_3{
    font-size: 1.5rem;
    
    text-align: center;
    
  }

  .font_3::after{
    content: 'Taiwanese Fried Chicken';
   
    font-size: 1rem;
    
  }
}


.home_title{
  margin-top:-20px;
  }

.home_about {
  img{

      height: 70vw;
      width: 70vw;
  }

}



.story_change {
 
  display: none;
}

.introducions{
  .col-lg-5{
    padding-left: 3rem;
  }


  .col-lg-7 {
    text-align: center;
      iframe{
      width: 300px;
      height: 300px;
      
    }
  }



}

}

  