*{

    color: white;
}


#menu_background{
    
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .5)), url(/src/assets/img/menu_background.png);
    background-repeat: no-repeat;
    background-position: center;
}

header{
    position: relative;
}

.choose_lang{

    
    text-align: center;
    height: 70vh;
    
    align-items: center;
    padding: 5% 5%;
    font-size: 2rem;
    *{
        font-weight: bold;
        
    }
    


    
}

.lang_selection{
    display: flex;
    justify-content: space-evenly;
    
}






.Selected-food{

    text-align: center;
    padding: 0 10%;

    *{
        font-weight: bold;
        
    }
    img{

        width: 40vw;
        max-width: 300px;
    }


    .Selected_food_title{
        
        font-size: 1.5rem;
        border-top: solid white;
        border-bottom: solid white;
        
        
        writing-mode: vertical-lr;
        padding: 3% 2px;
        
    }

    
    .Selected_food_description{
    
        font-size: 1.2rem;
        letter-spacing: 0.4rem;
        margin: 0 3%;
        
    }

    

    .Selected-food-gorup{
        width: 90%;
        display: flex;
        margin: 5% 0;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        
    }


}


.Select_menu_type_selection{
    margin-top:10%;
    text-align: center;
    font-size: 2rem;
}


.list_menu_display{

    
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu_food{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;

    font-size: 1.2rem;
    *{
        font-weight: bold;
    }
    img{
        width:15vw;;
        padding:20px;
        max-width: 200px;
        min-width: 180px;
        object-fit: cover;
        background: white;
        border-radius: 100%;
        border: solid #ffc100 5px;



    }

    
}

.menu_naming{
    margin:15px 0;
}

.menu_foods_grounp{

    background: #ffffff9e;
    margin: 5%;
    border-radius: 30px;
    display:flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: space-around;
}

.Selected-food-gorup:nth-child(odd){
    flex-direction: row-reverse !important;
}


.Select_menu_type_selection, .lang_selection {
    span {
        position: relative;
        cursor: pointer;
        font-weight: bold;
        &::before {
            content: '';
            position: absolute;
            width: 0%;
            height: 3px;
            top: calc(100%);
            transition: 0.4s;
            background-color: #fff;
        }
    }
}


.display_underline{
    &::before {
        width: 100% !important;
    }
}


.Select_menu_type_selection, .lang_selection  {
    span {
        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
}

