<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <script src = "{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
    <script src = "{% static "js/home.ts" %}"></script>
    <title>小蒜頭 - 首頁</title>
</head>
<body>
    
    <div>
        <input type="text" width="30px" id="test1" >
        <button onclick="hello()">submit</button>
            
        
    </div>
    
    
</body>
</html>